@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  color: #050507;
  font-family: 'Klee One', cursive;
  font-weight: 300;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;
}
li {
  list-style: none;
}

h2 {
font-family: 'Kiwi Maru', serif;
}

.site-title {
  font-size: 6.25rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin: 100px 0;
}
.section-title {
  border-bottom: solid 1px #fff;
  display: inline-block;
  font-size: 3.75rem;
  font-weight: 300;
  letter-spacing: 0.03em;
  margin-bottom: 45px;
}
.wrapper {
  max-width: 800px;
  padding: 0 30px;
  margin: 0 auto;
}
.container {
  background: #050507;
  color: #fff;
  text-align: center;
}

/*-------------------------------------------
Global navigation
-------------------------------------------*/
/*以下ドロワーメニュー*/



.gnav {
background-color: red;
position: fixed;
left: 0;
/*top: -100%;*/
width: 100%;
height: 100%;
box-sizing: border-box;
padding: 20px;
border: solid 12px white;
overflow: auto;
transition: all .4s ease;
}

.gnav.show {
top: 0;
}

.gnav ul { margin-top: 60px; }
.gnav ul li { margin-top: 30px; }
.gnav ul li a {
display: block;
background-color: black;
text-align: center;
color: #008080;
text-decoration: none;
font-size: 150%;
padding: 15px 10px;
width: 20%;
margin: 0 auto;
}

.gnav_deco {
top: auto;
bottom: 0;
}
/*ここまで*/


/*-------------------------------------------
Mainvisual
-------------------------------------------*/

#mainvisual {
background:
url("../img/grass_deco.svg") left bottom / 80px auto repeat-x,

  repeating-linear-gradient(
    90deg,
    #33cccc ,
    transparent 1px,
    transparent 12px
  ),
  repeating-linear-gradient(
    0deg,
    #33cccc ,
    #fff 1px,
    #fff 12px
  );
	
	
height: 100vh;
position: relative;
}

#mainvisual .main_tit {
margin: 0 auto;
padding: 80px 0 36px;
}

#mainvisual .main_date {
margin: 0 auto;
padding: 0 0 80px;
}

#mainvisual .sab_tit {
position: absolute;
right: 80px;
top: 120px;
width: 80px;
height: 234px;
background-image: url("../img/subtit_light.png");
}

#mainvisual .sab_tit:hover{
background-image: url("../img/subtit_dark.png");
}

#mainvisual .hamburger {
right: 80px;
top: 40px;
width: 48px;
height: 48px;
background-color: white;
position: fixed;
z-index: 100;
}

#mainvisual .hamburger span {
display: block;
width: 36px;
height: 2px;
background-color: #008080;
position: absolute;
left: 50%;
transform: translate(-50%, -50%);
transition: all .5s ease;
}

#mainvisual .hamburger span:first-child { top: 30%; }
#mainvisual .hamburger span:nth-child(2) { top: 50%; }
#mainvisual .hamburger span:last-child { top: 70%; }

#mainvisual .hamburger.close span:first-child { top: 50%; transform: translate(-50%, -50%) rotate(45deg);}
#mainvisual .hamburger.close span:nth-child(2) { transform: translate(-50%, -50%) rotate(405deg); opacity: 0;}
#mainvisual .hamburger.close span:last-child { top: 50%; transform: translate(-50%, -50%) rotate(-45deg);}


#mainvisual .slider {
bottom: 0;
  max-width: 410;
	margin: 0 auto;
	padding-top: 40px;
}

#mainvisual .slider li img {
margin: 0 50px;
width: auto;
height: auto;
}

#mainvisual .btn {
	position: relative;
/*width: 100%;*/
	height: 410px;
	margin: 0 auto;
	display: block;
	overflow: hidden;
	cursor: pointer;
}

#mainvisual .btn a {
display: block;
}

#mainvisual .btn img {
	position: absolute;
	max-width: 100%;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 100%;
	display: block;
	-webkit-transition: .4s ease-in-out;
	transition: .4s ease-in-out;
}
#mainvisual .btn:hover img:nth-of-type(2) {
	opacity: 0;
}

/*-------------------------------------------
about
-------------------------------------------*/
.site-about {
	width: 100%;
	height: 800px;
	padding: 0 80px;
	background-color: #E54328;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image:
	url("../img/About_decoration.png"),
/*	url("/img/About_decoration.png"),*/
  repeating-linear-gradient(
    90deg,
    rgba(0,128,128,0.5) ,
    rgba(0,128,128,0.5) 1px,
    transparent 1px,
    transparent 12px
  ),
  repeating-linear-gradient(
    0deg,
    rgba(0,128,128,0.5) ,
    rgba(0,128,128,0.5) 1px,
    #E54328 1px,
    #E54328 12px
  );
	background-position: center;
}

.site-about_title {
	font-size: 53px;
	margin-top: 121px;
	color: #008080;
}

.site-about_text {
	margin-top: 136px;
	color: #000;
	font-size: 28px;
}



/*-------------------------------------------
Information
-------------------------------------------*/
#information {
  margin-bottom: 140px;
}
#information .info-date-en {
  display: block;
  font-size: 1.5rem;
}
#information .info-time-en {
  display: block;
  font-size: 1.125rem;
}
#information .info-place {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 20px 0;
}
#information .info-date-ja {
  font-size: 1.125rem;
}

/*-------------------------------------------
Access
-------------------------------------------*/
#access {
  margin-bottom: 480px;
  position: relative;
  z-index: 20;
}
#access .place {
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 20px;
}
#access .address {
  margin-bottom: 20px;
}
#access .contact {
  margin-bottom: 30px;
}
#access .btn {
  border: solid 1px #fff;
  color: #fff;
  display: inline-block;
  padding: 15px 82px;
  transition: 0.3s;
}
#access .btn:hover {
  background-color: #050507;
}

/*-------------------------------------------
Contact
-------------------------------------------*/
#contact {
  margin-bottom: 200px;
  position: relative;
  z-index: 20;
}
#contact .btn {
  width: 400px;
  border: solid 1px #7d7d7d;
  color: #fff;
  display: block;
  padding: 30px 0;
  margin: 0 auto 20px auto;
  position: relative;
  transition: 0.3s;
}
/*
Button Arrow
*/
#contact .btn::before,
#contact .btn::after {
  content: '';
  position: absolute;
  right: -40px;
  height: 1px;
  background-color: #fff;
  transition: 0.3s;
}
#contact .btn::before {
  width: 120px;
  top: 48px;
}
#contact .btn::after {
  width: 15px;
  top: 45px;
  transform: rotate(25deg);
}
#contact .btn:hover {
  opacity: 0.7;
}
#contact .btn:hover::before,
#contact .btn:hover::after {
  right: -50px;
}
